.grid-cont{
    main{
        .cont-cont{                      
            h1{
                color: white;                               
            }
            text-align: center;
            background-color: rgba(128, 128, 128, 0.367);
            margin: 0.625rem; 
            border-radius: 1.5625rem;
            .container{
                color: white;
            }         
        }
    }
}