.grid-cont {
    main{
        .main__cursos-top{
            @include flex(center,center,column,0.9375rem);            
            .curso__titulo{
                text-align: center;
                color: white;
                margin: 1.5625rem;
            }
            .curso__foto{                
                margin: 0.9375rem;
                img{
                    width: 19.125rem;
                    height: 18.75rem;
                    border-radius: 1.5625rem;                    
                }
                
            }
            .curso__datos{ 
                background-color: $bg-color;          
                margin: 0.9375rem;            
                text-align: center;
                border: 1px solid black; 
                width: 306px;
                border-radius: 1.5625rem;
                    h2{
                    margin: 0.9375rem;
                    color: white;
                    }   
                img{
                    margin: 0.625rem;
                    border-radius: 1.5625rem;
                }  
                h3{
                    color: white;
                }          
                p{
                    color: white; 
                }
            }
            
        }
        .main__cursos-mid{
            .cursos__mid-titulo{
                text-align: center;
                margin: 0.9375rem;
                p{
                    font-size:1.25rem ;
                }
            }
            .cursos__lista{ 
                text-align: center;            
                ul{   
                    display: flex;  
                    flex-direction: column;     
                    font-size: 1.25rem;          
                    text-align: center; 
                    margin: 0.9375rem;
                    li{
                        text-align: center;
                        margin: auto;
                    } 
                }
            }
            
        }
        .main__cursos-bot{
            div{
                margin: auto;
            }
            h2{
                text-align: center;
            }
            .curso__preguntas--p{
                margin: 1.25rem;
                
                border: 1px solid black;
                border-radius: 1.5625rem;
                p{
                    margin: 0.3125rem 60px;                   
                }
            }
            .curso__preguntas--r{
                margin: 1.25rem;
            }
        }
       
    }
}