@media (min-width:590px){
    .grid-cont{
        main{
            .main__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                text-align: center;     
                h2{                    
                    color: black;
                    font-size: 1.875rem;
                    margin: 0 0 1.25rem 0;
                }
                .main__bot{            
                    display: flex;
                    flex-direction: row;                    
                    gap: 0.9375rem;                       
                    margin: 1.25rem;
                    padding: 1.25rem;
                    border: 1px solid black;
                    border-radius: 1.5625rem; 
                    .card-2{
                        display: flex;
                    }  
                    .card-3{
                        display: none;
                    }            
                    .card-4{
                        display: none;
                    }
                }          
            }
            .main-cursos{
                .cont-cursos{
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: auto;
                    grid-template-areas:
                    "cursos texto"
                    "bntc bntc";
                .btn-cursos{
                    grid-column-start: 0;
                    grid-column-end: 3;
                    grid-area: bntc;
                }   
                }
            }
            .main__rock--top{
                margin: 25px;
                .rock__card{
                    display: grid;
                    width: 100%;
                    gap: 0.9375rem;                
                    grid-template-columns:repeat(auto-fill, minmax(190px, 1fr));
                }
               
            }  
            .pales__in--mid{
                .pales__portada{
                    flex-direction: row;
                    align-items: center;
                    .pales__horario{
                        height: 19.1875rem;                        
                    }
                }
            } 
            .pales__in--bot{
                iframe{
                    height: 23.75rem;
                    width: 23.75rem;
                }
            }  
            //sectores
            .sectores__ppal--top{
                align-items: center;
                justify-content: center;
                .sectores__card{
                    height: 550px;
                    div{
                        p{
                           height: 168px; 
                        }
                    }
                }
            }    
            
        }
    }
}
