@media (min-width:1500px){
        .grid-cont{
            main{            
                .main__card{                
                    .main__bot{ 
                        .card-4{
                            display: flex;
                        }                                                
                        }
    
                    }     
                .main__cursos-top{
                    .curso__foto{
                        img{
                            width: 640px;
                        }                        
                    }
                    .curso__datos{
                        width: 640px;
                    }
                    } 
                    //sectores
                    .sectores__ppal--top{
                    flex-direction: row;
                    }
                    .sectores__guia{                
                        .tabla{  
                            width: 800px;              
                            margin: auto;
                        }
                    } 

                }

            }
        }
        